
div class="panel panel-success"
  div class="panel-heading"
    div class="panel-title"
      = t "signnow"

  div class="panel-body"

  = form_for([@petition, @signature],
                   html: {class: 'form-horizontal', autocomple:"on"}) do |f|

    - if @signature.errors.any?
      div id="error_explanation"
        h2
          = pluralize(@signature.errors.count, "error") 
            prohibited this signature from being saved:

        ul
          - @signature.errors.each do |error|
            li
              = raw error


          - @signature.errors.full_messages.each do |message|
            li
              = raw message

    div class="form-group"
      = f.label :person_name, class:'col-sm-2 control-label'

      div class="col-sm-10"
        = f.text_field :person_name, class:'form-control'
        span class="help-block" id="helpBlock"
          = t('signature.help.name')

    div class="form-group"
      = f.label :person_email, class:'col-sm-2 control-label'

      div class="col-sm-10"
        = f.email_field :person_email, class:'form-control'

        span class="help-block" id="helpBlock"
          span<> id="emailsuggestion"
          = t('signature.help.email')

    div class="form-group"
      = f.label :person_city, class:'col-sm-2 control-label'

      div class="col-sm-10"
        = f.text_field :person_city, class:'form-control'

        span class="help-block" id="helpBlock"
          = t('signature.help.city')

    - unless @petition.petition_type.blank?
      
      - if @petition.petition_type.required_minimum_age?
        div class="form-group"

          div class="col-sm-10"
            = text_field t("petition.minimum_age"), class:'form-control'

            span class="help-block" id="helpBlock"
              = t('signature.help.city')


    div class="form-group"
      = f.label :visible, class:'col-sm-2 control-label'

      div class="col-sm-10"
        = f.check_box :visible, {class:'form-control', checked: true}

        span class="help-block" id="helpBlock"
          = t('signature.help.visible')

    div class="form-group"
      = f.label :subscribe, class:'col-sm-2 control-label'

      div class="col-sm-10"
        = f.check_box :subscribe, {class:'form-control', checked: true}

        span class="help-block" id="helpBlock"
          = t('signature.help.subscribe')

    div class="btn-group btn-group-justified"
      div class="btn-group"
        = f.submit class: "btn btn-success"

        span class="help-block" id="helpBlock"
          = t('signature.help.instructions')
