p id="notice" 
  = notice

div class="pull-right"
    = image_tag( @petition.images.first.upload.url, :class => 'image') unless @petition.images.first.nil? || @petition.images.first.upload_file_name.nil?

p class="well well-lg"
  strong
    = t "name"
    =<> ":"
  = @petition.name

p class="well"
  strong
    = t "description"
    =<> ":"
  = @petition.description


p class="well"
  strong
    = t "statement" 
    =<> ":"
  = @petition.statement

p class="well"
  strong
    = t "request"
    =<> ":"
  = @petition.request

= render "signatures/form"

div class="well"
  = t "signatures"
  =<> ":"

  = @petition.signatures.count

table class="table table-striped"
  thead
    tr
      th class="col-md-9"
        = t "name"

      th class="col-md-1"
        = t "place"

      th class="col-md-2" 
        = t "when"

  tbody

    - @signatures.each do |signature|
      tr
        td
          - if signature.visible?
            = signature.person_name
          - else
            = t "anonymous"
        td
          = signature.person_city
           
        td
          = distance_of_time_in_words_to_now(signature.signed_at)


= will_paginate @signatures, renderer: BootstrapPagination::Rails



= link_to 'Edit', edit_petition_path(@petition)
=<> "|"

= link_to 'Back', petitions_path
