/**
 *	TAGS
 */

a.tag {
  display: inline-block;
  padding: 2px 10px;
  margin: 0px 7px 7px 0px;
  color: $button-text-color;
  background-color: $button-color;

  &:hover {
    background-color: $button-hover-color;
  }
}
