<!DOCTYPE html>
<html>
  <head>
    <title>Onderhoud aan petities.nl</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style type="text/css">
      body { text-align: center; padding: 10%; font: 20px Helvetica, sans-serif; color: #333; }
      h1 { font-size: 50px; margin: 0; }
      article { display: block; text-align: left; max-width: 650px; margin: 0 auto; }
      a { color: #dc8100; text-decoration: none; }
      a:hover { color: #333; text-decoration: none; }
      @media only screen and (max-width : 480px) {
          h1 { font-size: 40px; }
      }
    </style>
  </head>
  <body>
    <article>
      <h1>Petities.nl is tijdelijk niet beschikbaar</h1>
      <p>Door onderhoud is de website op dit moment niet bereikbaar. We zijn over een paar minuten weer terug.</p>
      <p>Onze excuses voor het ongemak.</p>
    </article>
  </body>
</html>
