#edit_details_docs {
  margin: 0;
  background: $light-grey;
  border-left: 1px dashed #c5c5c6;
}
#edit_details {
  margin: 0;
  background: $light-grey;
}

.profile-details {
  display: inline-block;
  vertical-align: top;
  flex: 1;
  width: 44%;
  padding: 25px 3%;
  background: $light-grey;
}

.buttonfix {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}

.email p {
  margin: 8px;
}

.start-petition-form-cell-input.has_error {
  border: $form-error-border;
  color: $form-error-color;
}

.has_error_help {
  color: $form-error-color;
}

.start-petition-form-cell-input.is_obligated {
  background-color: #BCF9C7
}

select.is_obligated {
  background-color: #BCF9C7
}

.start-petition-form-cell-input.error,
div.field_with_errors .start-petition-form-cell-input,
.petition-form-textfield.error {
  border: $form-error-border;
}

h2.start-petition-form-cell.input.error {
  color: $form-error-color;
}

.email-success-note {
  text-align: center;
  width: 100%;
  padding: 10px 0px 10px 0px;
  margin: 0 0 10px;
  font: 400 17px/28px 'Open Sans', arial, sans-serif;
  color: #fff;
  border: 0;
  background: $button-hover-color;
  cursor: pointer;
}

.email-suggest-button {
  width: 100%;
  padding: 0px;
  padding: 10px 0px 10px 0px;
  font: 400 17px/28px 'Open Sans', arial, sans-serif;
  color: #fff;
  border: 0;
  background: #D04F4F;
  text-align: center;
  cursor: pointer;

  &:hover {
    background: $button-hover-color;
  }
}

.light-green {
  color: $light-green;
}

.petition-error-sign-note {
  color: $form-error-color;
  margin-bottom: 20px;
}

.signature-error {
  margin-right: 20px;
}

.petition-overview-image {
  width: 100%;
  height: 200px;
}

.petition-overview-image-container {
  width: 100%;
  height: 200px;
}

.confirm_email {
   font-weight: bold;
}

.user-index {
  margin: 0 0 0 0 !important;
}

.navigation-toall {
   margin: 12px 0px 16px 0px !important;
}

.start-petition-form-cell.input select {
  margin-top: 8px;
}

.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

.hidden {
  display: none;
}

.petition-edit-label{
  margin:0 0 5px;
}

.petition-edit-input {
  width:94%;
  margin:0 0 15px;
  padding:10px 3%;
  border:1px solid #aaa;
  background: $base-background-color;
}

.petition-edit-input.small {
  width:12%;
}

textarea.petition-edit-input {
  height:200px;
}


.petition_field_label {
  float: left;
  width: 40%;
  font-weight: bold;
  padding: 0 0 5px 0;
}

.petition_field_dat {
  float: left;
  width: 58%;
  padding: 0 0 5px 0;
}

/* petition update fields.. */

.update-content {
  flex: 0 1 90%;

  .update-intro a {
    text-decoration: underline;
  }
}

.update-edit {
  display: flex;
  padding: 25px 0 5px;
  border-bottom: 1px solid $light-grey;
  display: none;
}

.petition-edit-save {
    -webkit-appearance: none;
    padding: 5px 2%;
    background: $button-color;
    font: 400 18px/28px 'Open Sans', arial, sans-serif;
    color: #fff;
    border: 0;
    cursor: pointer;
}

.update-icon {
    flex: 0 0 10%;
    height: 46px;
    width: 49px;
    background: asset-url('edit.gif') 0 0 no-repeat;
    cursor: pointer;
}

.update {
    padding: 25px 0 5px;
    border-bottom: 1px solid $light-grey;
}

.petition-updates
.update-container {
  width: 70%;
  margin: 0 auto 25px;
}

.header-content.home {
    overflow: hidden;
}

.no-cookies .require-cookies, .no-js .require-cookies {
  display: none;
}

a.facebook {
  color: #3b5998;
  &:hover {
    color: darken(#3b5998, 10%);
  }
}
a.twitter {
  color: #4099ff;
  &:hover {
    color: darken(#4099ff, 10%);
  }
}
a.whatsapp {
  color: #3bac32;
  &:hover {
    color: darken(#3bac32, 10%);
  }
}
a.linkedin {
  color: #22b2c9;
  &:hover {
    color: darken(#22b2c9, 10%);
  }
}
a.email {
  color: #6fc922;
  &:hover {
    color: darken(#6fc922, 10%);
  }
}
a.link {
  color: #3dada4;
  &:hover {
    color: darken(#3dada4, 10%);
  }
}

.share-button-url {
  width: 30%;
  padding: 10px;
  margin: 10px;
}

.small-only {
  @media only screen and (min-width: 768px) {
    display: none !important;
  }
}

@media only screen and (max-width: 510px) {
  .vervolg .header-logo {
    height: 41px;
    width: 100px;
    margin: 0;
    background: asset-url('logo-xsmall.png') 0 0 no-repeat;
  }

  .vervolg .header-button-container {
      float: left;
      width: 105px;
      margin: 0px;
      padding: 10px 0px 0px;
  }

}
