$light-grey: #e9e9e9;
$green: #1a9931;
$light-green: #63ab42;
$red: #DC1818;
$blue: #4fa6d0;
$light-blue: #6db6d7;

$base-background-color: #fff;

$button-color: $blue;
$button-hover-color: #7ec060;

$form-error-color: $red;
$form-error-border: 2px solid $form-error-color;

$page-width: 1160px;
