
.petition-form-button,
input[type="button"].petition-form-button {
  width: 100%;
  margin: 0 0 10px;
  padding: 8px 2%;
  font: 400 17px/28px 'Open Sans', arial, sans-serif;
  color: #fff;
  border: 0;
  background: #4fa6d0;
  text-align: center;
  cursor: pointer;
  &:hover {
    background: #7ec060;
  }
}

#edit_details_docs {
  margin: 0;
  background: #e9e9e9;
  border-left: 1px dashed #c5c5c6;
}
#edit_details {
  margin: 0;
  background: #e9e9e9;
}

.profile-details {
  display: inline-block;
  vertical-align: top;
  flex: 1;
  width: 44%;
  padding: 25px 3%;
  background: #e9e9e9;
}

.buttonfix {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}

.email p {
  margin: 8px;
}

.start-petition-form-cell-input.has_error {
  border: 2px solid #DC1818;
  color: #E01111;
}

.has_error_help {
  color: #E01111;
}

.start-petition-form-cell-input.is_obligated {
  background-color: #BCF9C7
}

select.is_obligated {
  background-color: #BCF9C7
  //border: 2px solid #BCF9C7;
}


.start-petition-form-cell-input.error,
.petition-form-textfield.error {
  border: 2px solid #DC1818;
}

h2.start-petition-form-cell.input.error {
  color: #E01111;
}


.email-success-note {
  text-align: center;
  width: 100%;
  padding: 10px 0px 10px 0px;
  margin: 0 0 10px;
  font: 400 17px/28px 'Open Sans', arial, sans-serif;
  color: #fff;
  border: 0;
  background: #7ec060;
  text-align: center;
  cursor: pointer;
}


.email-suggest-button {
  width: 100%;
  padding: 0px;
  padding: 10px 0px 10px 0px;
  font: 400 17px/28px 'Open Sans', arial, sans-serif;
  color: #fff;
  border: 0;
  background: #D04F4F;
  text-align: center;
  cursor: pointer;
  &:hover {
    background: #7ec060;
  }
}

.signature_succes_logo {
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 80px;
  background: asset-url('success.png') 0 0 no-repeat;
}



.petition-overview-image {
  width: 100%;
  height: 200px;
}

.petition-overview-image-container {
  width: 100%;
  height: 200px;
}

.confirm_email {
   font-weight: bold;
}

.user-index {
  margin: 0 0 0 0 !important;
}

.navigation-toall {
   margin: 12px 0px 16px 0px !important;
}

.start-petition-form-cell.input select {
  margin-top: 8px;
}

.pull-right {
  float: right;
}
.pull-left {
  float: left;
}


.petition-edit-label{
  margin:0 0 5px;
}

.petition-edit-input {
  width:94%;
  margin:0 0 15px;
  padding:10px 3%;
  background:#fff;
  border:1px solid #aaa;
}

.petition-edit-input.small {
  width:12%;
}

textarea.petition-edit-input {
  height:200px;
}


.petition_field_label {
  float: left;
  width: 40%;
  font-weight: bold;
  padding: 0 0 5px 0;
}

.petition_field_dat {
  float: left;
  width: 58%;
  padding: 0 0 5px 0;
}

/* petition update fields.. */

.update-content {
    flex: 0 1 90%;
}

.update-edit {
    display: flex;
    padding: 25px 0 5px;
    border-bottom: 1px solid #e9e9e9;
    display: none;
}

.petition-edit-save {
    -webkit-appearance: none;
    padding: 5px 2%;
    background: #4fa6d0;
    font: 400 18px/28px 'Open Sans', arial, sans-serif;
    color: #fff;
    border: 0;
    cursor: pointer;
}

.update-icon {
    flex: 0 0 10%;
    height: 46px;
    width: 49px;
    background: asset-url('edit.gif') 0 0 no-repeat;
    cursor: pointer;
}

.update {
    padding: 25px 0 5px;
    border-bottom: 1px solid #e9e9e9;
}

.petition-updates
.update-container {
  width: 70%;
  margin: 0 auto 25px;
}

.petition-editbutton a {
  color: white !important;
}
.header-content.home {
    overflow: hidden;
}

@media only screen and (max-width: 510px) {
  .vervolg .header-logo {
    height: 41px;
    width: 100px;
    margin: 0;
    background: asset-url('logo-xsmall.png') 0 0 no-repeat;
  }

  .vervolg .header-button-container {
      float: left;
      width: 105px;
      margin: 0px;
      padding: 10px 0px 0px;
  }

}
