
.petition-form-button,
input[type="button"].petition-form-button {
  width: 100%;
  margin: 0 0 10px;
  padding: 8px 2%;
  font: 400 17px/28px 'Open Sans', arial, sans-serif;
  color: #fff;
  border: 0;
  background: #4fa6d0;
  text-align: center;
  cursor: pointer;
  &:hover {
    background: #7ec060;
  }
}

.petition-form-textfield.error {
  border: 2px solid #DC1818;
}

.signaturesuggestbutton {
  width: 100%;
  margin: 0 0 10px;
  font: 400 17px/28px 'Open Sans', arial, sans-serif;
  color: #fff;
  border: 0;
  background: #D04F4F;
  text-align: center;
  cursor: pointer;
  &:hover {
    background: #7ec060;
  }
}

.signature_succes_logo {
  margin-left: auto; 
  margin-right: auto;
  width: 80px;
  height: 80px;
  background: url('success.png') 0 0 no-repeat;
}



.petition-overview-image {
  width: 100%;
  height: 200px;
}

.petition-overview-image-container {
  width: 100%;
  height: 200px;
}

.confirm_email {
   font-weight: bold;
}

.user-index {
  margin: 0 0 0 0 !important;
}

.navigation-toall {
   margin: 12px 0px 16px 0px !important;
}
