<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px }
      .content { width: 600px; }
    </style>
  </head>
  <body>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
